<div class='container'>
  <h1>About Eduki</h1>
  <hr />
  <p>
  Eduki is an open platform for creating small educational courses. Anybody should be
  able to put together online courses to share knowledge about what they know. Eduki
  helps to organize this.
  </p>
  <h2>Team</h2>
  <p>
  Eduki is created by a team of undergraduates from the University of Washington.
  </p>
  <ul>
    <li>Cody Thomas</li>
    <li>Rafael Vertido</li>
    <li>Jolie Chen</li>
    <li>Michael Abboud</li>
    <li>Ed Samson</li>
    <li>David Mah</li>
  </ul>
</div>
