<div id="welcome-content">
  <h1>Welcome</h1>
  <hr />
  <div class="eduki-buttons eduki-button-block" id="welcome-controls">
    <div class="row">
      <div class="span4 offset4 eduki-button-container">
        <a class="eduki-button-primary" href="#/login">Login</a>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset4 eduki-button-container">
      <a class="eduki-button-primary" href="#/signup">Signup</a>
</div>
    </div>

    <div class="row">
      <div class="span4 offset4 eduki-button-container">
      <a class="eduki-button-primary" href="#/courses">Courses</a>
    </div>
    </div>
  </div>
</div>
