<div id="welcome-content">
  <h1>Welcome</h1>
  <hr />
  <div id="welcome-controls">
    <div class="row">
      <a class="span4 offset4" href="#/login">Login</a>
    </div>

    <div class="row">
      <a class="span4 offset4" href="#/signup">Signup</a>
    </div>

    <div class="row">
      <a class="span4 offset4" href="#/courses">Courses</a>
    </div>
  </div>
</div>
