<div id="welcome-content">
  <h1>Welcome</h1>
  <hr />
  <div id="welcome-controls">
    <div class="row">
      <div class="span4 offset4">
        <a href="#/login">Login</a>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset4">
        <a href="#/signup">Signup</a>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset4">
        <a href="#/courses">Courses</a>
      </div>
    </div>
  </div>
</div>
