<div id="welcome-content">
  <h1>Welcome</h1>
  <hr />
  <div class="eduki-buttons eduki-button-block" id="welcome-controls">
    <div class="row">
        <a class="span4 offset4 eduki-button-primary" href="#/login"><span>Login</span></a>
    </div>

    <div class="row">
        <a class="span4 offset4 eduki-button-primary" href="#/signup"><span>Signup</span></a>
    </div>

    <div class="row">
        <a class="span4 offset4 eduki-button-primary" href="#/courses"><span>Courses</span></a>
    </div>
  </div>
</div>
