<div id="loading-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <h3 id="myModalLabel">Please wait...</h3>
  </div>
  <div id="loading" class="modal-body">
    <!-- Set up for loading container -->
    <div id="canvasloader-container" class="wrapper"></div>
  </div>
</div>
