<div id="user-login-form class="row">
  <fieldset>
    <form class="offset2 span8">
      <h1>Login</h1>
      <hr />
      <label>Email</label>
      <input class="span4" type="text" id="login-field-email" placeholder="Email" required />
      <br />
      <label>Password</label>
      <input class="span4" type="password" id="login-field-password" placeholder="Password" required />
      <br />
      <button class="eduki-button-primary">Signup</button>
    </form>
  </fieldset>
</div>
