<form id="login-form">
  <div>
    <h1>login</h1>
    <button id="signup-button" type="button" class="eduki-button-icon"></button>
    <hr />
    <input type="email" id="login-email" placeholder="email"/>
    <input type="password" id="login-password" placeholder="password"/>
    <button class="eduki-button-primary pull-right" type="button"><span>login</span></button>
  </div>
</form>
