<div id="splash-image">
  <div class="container">
    <div class="row">
      <big class="span8" id="splash-message">start learning now</big>
      <div class="span4" id="signup">
        <form id="signup-form">
          <div>
            <h1>sign up</h1>
            <button id="login-button" type="button" class="eduki-button-icon"></button>
            <hr />
            <input type="email" id="signup-email" placeholder="email"/>
            <input type="password" id="signup-password" placeholder="password"/>
            <button class="eduki-button-primary pull-right" type="button"><span>register</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
