<div class="row quiz" id="new-quiz">
  <div class="span8">
    <h2>Create Quiz</h2>
    <p>
      Enter your question (with multiple choice possibilities) in the first box like this: "What is the airspeed velocity of a unladen swallow? A. 10 m/s B. 81 m/s C. 24 cm/s D. It depends, African or European"
    </p>
    <p>
      Enter the correct answer in the second box like this: "D"
    </p>
    <h3>Click add question to begin!</h3>
    <hr />
    <form class="quiz" id="quiz">
      <ol id="questions">
        <li class="hidden" id="question">
          <fieldset>
            <input class="span4" type="text" id="question1" placeholder="Question and answers" required />
            <br />
            <input class="span4" type="text" pattern="[AaBbCcDd]" id="answer1" placeholder="A, B, C, or D" required />
          </fieldset>
        </li>
      </ol>
      <button class="eduki-button-primary" id="add"><span>Add Question</span></button>
      <button class="eduki-button-primary" id="submit"><span>Submit Quiz</span></button>
    </form>
  </div>
</div>