<div class="container">
  <div class="row">
    <div id="quiz" class="span8">
      <% if (!this.isEnrolled()) { %>
        <div class="alert">
          Please enroll in the course to take the quiz.
        </div>
      <% } %>
      <h1>Edit Quiz</h1>
      <hr />
      <form id="create-quiz-form"class="form-horizontal span8" id="quiz">
        <div class="control-group">
          <label class="control-label" data-placement="left" data-trigger="manual" data-toggle="popover">Title</label>
          <div class="controls">
            <input type="text" id="create-quiz-title" placeholder="Enter a quiz title" />
          </div>
        </div>
        <div id="create-quiz-problems">
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="button" id="create-quiz-add" class="eduki-button-icon"></button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="button" class="pull-right eduki-button-primary" id="update" data-placement="left" data-trigger="manual" data-toggle="popover"><span>Update</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>