<div class="row">
  <div class="span8 offset2">
    <h1>Create a Quiz</h1>
    <hr />
  </div>
</div>
<div id="create-quiz-form" class="row">
  <form class="form-horizontal offset2 span8">
    <div class="control-group">
      <label class="control-label">Title:</label>
        <div class="controls">
          <input class="input-xlarge" type="text" id="create-quiz-title" placeholder="Enter a quiz title" required />
        </div>
    </div>
    <div id="create-quiz-problems">
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="button" id="create-quiz-add" class="eduki-button-icon eduki-button-icon-small"></button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="eduki-button-primary"><span>Create Quiz</span></button>
      </div>
    </div>
  </form>
</div>
