<div id="quiz-results-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="quizResultsLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Quiz Results</h3>
  </div>
  <div id="quiz-results" class="modal-body">
    <big>You got <strong><%- this.correct %>/<%- this.total %></strong> questions correct</big>
  </div>
  <div class="eduki-buttons modal-footer">
    <button class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>Close</span></button>
  </div>
</div>
