<div id="create-quiz-form" class="row">
  <div class="offset2 span8">
    <h1>Create a Quiz</h1>
    <hr />
    <p class="success-message-text">Quiz succesfully created!</p>
    <div class="row">
      <a class="span4 eduki-button-primary" href="/#/courses/<%= this.quiz.get('course_id') %>/quizzes/<%= this.quiz.get('id') %>">
      	<span>View Quiz</span>
      </a>
    </div>
  </div>
</div>

