<div id="create-lesson-form" class="row">
  <div class="offset2 span8">
    <h1>Create a Lesson</h1>
    <hr />
    <p class="success-message-text">Lesson succesfully created!</p>
    <div class="row">
      <a class="span4 eduki-button-primary" href="/#/courses/<%- this.lesson.get('course_id') %>/lessons/<%- this.lesson.get('id') %>">
      	<span>View Lesson</span>
      </a>
    </div>
  </div>
</div>
