<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1>Create a Lesson</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal offset2 span8" id="create-lesson-form">
      <div class="control-group">
        <label class="control-label">Title</label>
          <div class="controls">
            <input data-placement="right" data-trigger="manual" data-toggle="popover" type="text" id="form-lesson-title" placeholder="Enter a lesson title" required />
          </div>
      </div>
      <div class="control-group">
        <label class="control-label">Content
        </label>
          <div class="controls">
            <textarea rows="15" data-placement="right" data-trigger="manual" data-toggle="popover" type="text" id="form-lesson-body" placeholder="Enter lesson content" required></textarea>
          </div>
      </div>
      <button type="button" class="eduki-button-primary pull-right" id="publish"><span>Publish</span></button>
    </form>
  </div>
</div>
