<div id="create-lesson-form" class="row">
  <form class="offset2 span8">
    <fieldset>
      <h1>Create a Lesson</h1>
      <label>Name</label>
      <input class="span8" type="text" id="create-lesson-name" placeholder="Enter a lesson name" required />
      <label>Content</label>
      <textarea class="span8" id="create-lesson-content" rows="10" cols="80" required></textarea>
      <button class="span8 btn btn-large btn-primary">Create Lesson</button>
    </fieldset>
  </form>
</div>


