<div id="preview-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Lesson Body Preview</h3>
  </div>
  <div id="preivew-body" class="modal-body">
  </div>
  <div class="eduki-buttons modal-footer">
    <button id="confirm" class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>Back</span></button>
  </div>
</div>