<div class="offset2 span8" id="preview-container">
	<div id="lesson-preview">

	</div>
  <button type="button" class="eduki-button-primary pull-right" id="publish"><span>Publish</span></button>
  <button type="button" class="eduki-button-primary pull-right" id="edit"><span>Edit</span></button>
</div>
