<div id="dashboard" class="container">
  <div class="row">
    <div class="span12">
      <h1>Your Dashboard</h1>
        <a href="/#/user/update" title="Update Profile" id="update-profile" class="eduki-button-icon"><span>Update Profile</span></a>
      <hr />
    </div>
  </div>
</div>
