<div id="dashboard" class="container">
  <div class="row">
    <div class="span12">
      <h1>Your Dashboard</h1>
        <a href="/#/user/update" title="Update Profile" class="eduki-button-primary eduki-button-small eduki-button-inline pull-right"><span>Update Profile</span></a>
      <hr />
    </div>
  </div>
</div>
