<div id="dashboard" class="container">
  <div class="row">
    <div class="span12">
      <h1><%- this.user.get('first_name') ? this.user.get('first_name') + "\'s" : 'Your' %> Dashboard</h1>
        <a href="/#/user/premium" title="Premium User" id="premium" class="eduki-button-icon"></a>
        <a href="/#/user/update" title="Update Profile" id="update-profile" class="eduki-button-icon"></a>
      <hr />
    </div>
  </div>
</div>
