<div id="owned-courses">
    <h2>Your Courses</h2>
  <% if (this.ownedCourses.size() <= 0) { %>
  <p>
    Looks like you haven't created any courses.
    <a href="/#/courses/new" title="Create Course">Create a course now!</a>
    </p>
  <% } else { %>
  <div id="owned-courses-list">
    <div class="row">
    <% for (var i = 0; i < this.ownedCourses.size(); i++) { %>
        <div class="listing-square listing-owned-course">
          <a class="span2" href="/#/courses/<%- this.ownedCourses.models[i].get('id') %>" title="<%- this.ownedCourses.models[i].get('title') %>"><span><%- this.ownedCourses.models[i].get('title') %></span></a>
        </div>
      <% if ((i+1) % 6 == 0 && (i+1) < this.ownedCourses.size()) { %>
    </div>
    <div class="row">
      <% } %>
    <% } %>
  </div>
    <% } %>
</div>

