<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Premium User Membership</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Compare Plans</h2>
      Enrollment in Eduki Premium is currently closed, but you may view the
      plans for when it is opened.
    </div>
  </div>
  <div class="row">
    <div id="student-plan" class="plan span4">
      <div>
        <h3>Student</h3>
        <strong>US $39.99/Year</strong>
        <ul class="premium-features">
          <li>Course Progress Reports</li>
          <li>Automated Course Pacing Tools</li>
        </ul>
      </div>
    </div>
    <div id="instructor-plan" class="plan span4">
      <div>
        <h3>Instructor</h3>
        <strong>US $420.00/Year</strong>
        <ul class="premium-features">
          <li>Charge for Enrollments</li>
          <li>Student Engagement Tools</li>
          <li>Interactive Media for Course Content</li>
        </ul>
      </div>
    </div>
    <div id="education-plan" class="plan span4">
      <div>
        <h3>Education Lover</h3>
        <strong>US $9000.01/Year</strong>
        <ul class="premium-features">
          <li>Course Progress Reports</li>
          <li>Automated Course Pacing Tools</li>
          <li>Charge for Enrollments</li>
          <li>Student Engagement Tools</li>
          <li>Interactive Media for Course Content</li>
          <li>16 Corgis</li>
        </ul>
      </div>
    </div>
  </div>
</div>
