<div id="dashboard" class="container">
  <div class="row">
    <div class="span12">
      <h1>Premium User Membership</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Compare Plans</h2>
      Enrollment in Eduki Premium is currently closed, but you may view the
      plans for when it is opened.
      <h3>Student Plan</h3>
        <strong>US $39.99/Year</strong>
        <ul id="premium-features">
          <li>Course progress statistics</li>
          <li>Automatic tools to guide your course pacing</li>
        </ul>
        And More!
      <h3>Instructor Plan</h3>
        <strong>US $420.00/Year</strong>
        <ul id="premium-features">
          <li>Charge for course enrollment</li>
          <li>Student engagement tools</li>
          <li>Include interactive media in course content</li>
        </ul>
        And More!
      <h3>Education Lover Plan</h3>
        <strong>US $9000.01/Year</strong>
        <ul id="premium-features">
          <li>Every feature from Student plan and Instructor plan</li>
          <li>16 Corgis</li>
        </ul>
    <div>
  <div>
</div>
