<div id="dashboard" class="container">
  <div class="row">
    <div class="span12">
      <h1>Congratulations! <small>You are now a premium eduki user!</small></h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>As a premium user you have access to:</h2>
      <ul id="premium-features">
        <li>16 Corgis.</li>
      </ul>
    <div>
  <div>
</div>
