<div id="user-signup-form class="row">
  <fieldset>
    <form class="offset2 span8">
      <h1>Sign Up</h1>
      <hr />
      <label>Username</label>
      <input class="span4" type="text" id="signup-field-username" placeholder="Username" required />
      <br />
      <label>Password</label>
      <input class="span4" type="password" id="signup-field-password" placeholder="Password" required />
      <br />
      <button class="eduki-button-primary">Signup</button>
    </form>
  </fieldset>
</div>
