<div id="update-profile-form" class="row">
  <form class="offset2 span8">
    <fieldset>
      <h1>Update Profile</h1>
      <label>First Name</label>
      <input class="span8" type="text" id="first-name" placeholder="First Name" />
      <label>Last Name</label>
      <input class="span8" type="text" id="last-name" placeholder="Last Name" />
      <label>Email</label>
      <input class="span8" type="text" id="email" placeholder="Email" />
      <label>Background</label>
      <textarea class="span8" id="background" rows="10" cols="80" placeholder="Enter a little bit about yourself!" required></textarea>
      <button class="eduki-button-primary"><span>Update Profile</span></button>
    </fieldset>
  </form>
</div>