<div class="row">
  <div class="span8 offset2">
    <h1>Signup Success!</h1>
    <hr />
  </div>
</div>
<div class="row">
  <a class="span4 offset2 eduki-button-primary" href="/#/courses">Browse Courses</a>
  <a class="span4 eduki-button-primary" href="/#/courses/new">Create Course</a>
</div>
<div class="row">
</div>
