<div id="navbar">
  <div class="container">
    <div class="row">
      <div class="span3" id="logo">
        <a class="eduki-button-icon" href="/#/"></a>
      </div>
      <div class="span9" id="nav-icons">
        <div>
          <div>
            <a class="eduki-button-icon" id="navbar-courses" href="/#/courses" title="Courses"></a>
            <a class="eduki-button-icon" id="navbar-create" href="/#/courses/new" title="Create Courses"></a>
            <a class="eduki-button-icon" id="navbar-dashboard" href="/#/dashboard" title="Dashboard"></a>
          </div>
          <a class="eduki-button-icon" id="navbar-husky" href="/#/about" title="About"></a>
        </div>
      </div>
    </div>
  </div>
</div>
