<div class="navbar">
  <div class="navbar-inner">
    <a href="/" class="brand">eduki</a>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">Courses</a>
        <ul class="dropdown-menu">
          <li role="presentation">
            <a role="menuitem" href="/#/courses">BROWSE</a>
          </li>
          <li role="presentation">
            <a role="menuitem" href="/#/courses/new">CREATE</a>
          </li>
        </ul>
      </li>
      <li><a href="/#/dashboard">Dashboard</a></li>
    </ul>
  </div>
</div>
