<div id="delete-confirmation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div id="confirmation-message" class="modal-body">
    <big>Are you sure you want to delete <strong><%- this.deleteTitle %></strong>?</big>
  </div>
  <div class="eduki-buttons modal-footer">
    <button id="delete" class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>Yes</span></button>
    <button id="cancel" class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>No</span></button>
  </div>
</div>

