<div class="span2" id="course-ownership-actions">
  <button id="course-ownership-delete" title="delete" class="eduki-button-icon"></button>
  <a id="course-ownership-edit" class="eduki-button-icon" href="/#/courses/<%- this.course.get('course_id') %>/edit" title="edit"></a>
</div>

