<div id="create-course-form" class="row">
  <div class="offset2 span8">
    <h1>Create a Course</h1>
    <hr />
    <p>Course succesfully created!</p>
    <div class="row">
      <a class="span4" href="/#/courses/<%= this.course.get('id') %>">View Course</a>
      <a class="span4" href="/#/courses/<%= this.course.get('id') %>/lessons/new">Create Lesson</a>
    </div>
  </div>
</div>
