<% if (!this.enrolled) { %>
  <button class="eduki-button-primary eduki-button-small eduki-button-inline" id="enroll"><span>enroll</span></button>
<% } else { %>
  <button class="clicked-button eduki-button-primary eduki-button-small eduki-button-inline" id="enroll"><span>enrolled</span></button>
<% } %>
