<div class="container">
  <h1>Courses</h1>
  <hr />
  <div id="courses">
    <div class="row">
    <% for (var i = 0; i < this.courses.size(); i++) { %>
        <div class="listing-square listing-course">
          <a class="span2" href="/#/courses/<%- this.courses.models[i].get('id') %>"><span><%- this.courses.models[i].get('title') %></span></a>
        </div>
      <% if ((i+1) % 6 == 0 && (i+1) < this.courses.size()) { %>
    </div>
    <div class="row">
      <% } %>
    <% } %>
    </div>
  </div>
</div>
