<h1>Courses</h1>
<hr />
<div class="row">
  <ul class="span4">
    <% for(var i = 0; i < Math.floor(this.courses.size() / 2); i++) { %>
      <li>
        <a href="/#/courses/<%= this.courses.models[i].get('id') %>/"><%= this.courses.models[i].get('title') %></a>
      </li>
    <% } %>
  </ul>
  <ul class="span4 offset2">
    <% for(var i = Math.floor(this.courses.size() / 2); i < this.courses.size(); i++) { %>
      <li>
        <a href="/#/courses/<%= this.courses.models[i].get('id') %>/"><%= this.courses.models[i].get('title') %></a>
      </li>
    <% } %>
  </ul>
</div>
