<h2>Courses</h2>
<ul>
<% for(var i = 0; i < this.courses.size(); i++) { %>
  <li>
    <a href="/#/courses/<%= this.courses.models[i].get('id') %>/lessons"><%= this.courses.models[i].get('title') %></a>
  </li>
<% } %>
</ul>
