<div id="create-course-form" class="row">
    <fieldset>
  <form class="offset2 span8">
      <h1>Create a Course</h1>
      <hr />
      <label>Name</label>
      <input class="span4" type="text" id="create-course-name" placeholder="Enter a course name" required />
      <br />
      <button class="eduki-button-container eduki-button-primary">Create Course</button>
    </fieldset>
  </form>
</div>
