<div class="container">
  <div class="row">
    <div class="offset2 span8">
      <h1>Create Course</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal offset2 span8" id="create-course-form">
      <div class="control-group">
        <label class="control-label">Title:</label>
          <div class="controls">
            <input data-placement="right" data-trigger="manual" data-toggle="popover" class="span5" type="text" id="create-course-title" placeholder="Enter a course title" required />
          </div>
      </div>
      <div class="control-group">
        <label class="control-label">Short Description:<br />
          <small>characters remaining: <span id="remaining">500</span></small>
        </label>
          <div class="controls">
            <textarea data-placement="right" data-trigger="manual" data-toggle="popover" class="span5" type="text" id="create-course-description" maxlength="500" placeholder="Enter a short description" required></textarea>
          </div>
      </div>
      <button type="button" class="eduki-button-primary pull-right" id="publish"><span>Publish</span></button>
    </form>
  </div>
</div>

