<div class="row">
  <fieldset>
    <form class="offset2 span8">
      <h1>Search Courses</h2>
      <hr />
      <input class="span4" type="text" id="search-query" placeholder="Enter Search Query" autofocus required />
      <br />
      <button type="button" class="eduki-button-primary" id="search-button"><span>Search</span></button>
    </form>
  </fieldset>
</div>

