<div id="unenroll-confirmation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="unenrollConfirmationModal" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div id="confirmation-message" class="modal-body">
    <big>
      Are you sure you want to unenroll from <strong><%- this.course.get('title') %></strong>?
      You will lose all your enrollment data such as quiz attempts.
    </big>
  </div>
  <div class="eduki-buttons modal-footer">
    <button id="unenroll" class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>Yes</span></button>
    <button id="cancel" class="eduki-button-primary" data-dismiss="modal" aria-hidden="true"><span>No</span></button>
  </div>
</div>

