<!DOCTYPE html>
<html>
  <head>
    <title>eduki</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li>
            <%= link_to "Home", :controller => "static", :action => :index %>
          </li>
          <li>
            <%= link_to "Create Lesson", :controller => "static", :action => :create_lesson %>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-header">
        <h1>eduki <small>start learning now</small></h1>
    </div>
