<html>
  <head>
  </head>
  <body>
    <p>Demonstrating that our ruby works. 1+1 = <%= 1+1 %> </p>
    <p>See Source for this file at<a href="https://github.com/Eduki/eduki/blob/master/app/views/static/index.html.erb">
      https://github.com/Eduki/eduki/blob/master/app/views/static/index.html.erb</a>
    </p>

    <div id="huskysoftlogo">
      <%= image_tag "huskysoftlogo.png" %>
    </div>
  </body>
</html>
