<html>
  <head>
  </head>
  <body>
    <p>Demonstrating that our ruby works. 1+1 = <%= 1+1 %> </p>
    <p>See <a href=https://github.com/DavidMah/eduki/app/views/static/index.html.erb">
      https://github.com/DavidMah/eduki/app/views/static/index.html.erb</a>
    </p>
  </body>
</html>
