body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

#footer {
  background-color: #d3d3d3;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}


#huskysoftlogo img {
  max-height: 100px;
}
