body {
  color: #3d3d3d;
  font-size: 12pt;
  font-family: "Yanone Kaffeesatz" !important;
}

a:hover {
  text-decoration: none;
}

a {
  color: #878787;
}

input,
label,
button,
select,
textarea {
  font-family: "Yanone Kaffeesatz" !important;
}

input,
label,
select,
textarea {
  font-size: 16pt !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #75ddf4
}

p {
  font-family: "Roboto Slab" !important;
  font-size: 10pt;
  font-weight: 300;
}

.navbar li a {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 18pt;
}

#footer {
  background-color: #d3d3d3;
  width: 100%;
  margin-top: 50px;
  height: 200px;
  padding: 10px 10px;
  text-align: center;
}

.form-actions {
  background: none !important;
}

#huskysoftlogo img {
  margin-top: 50px;
  max-height: 100px;
}

button {
  border: none;
}

.eduki-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.eduki-buttons a:hover {
  text-decoration: none;
  color: white;
  background-image: none !important;
  cursor: pointer;
}

.eduki-button-block .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.eduki-button-primary {
  display: block;
  box-shadow: 2px 2px 2px #999999;
  color: white;
  text-align: center;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 10px;
  background-color: #75ddf4 !important;
  background-image: linear-gradient(to bottom, #9be8f7, #75ddf4) !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.eduki-button-primary span {
  margin-left: 10px;
}

.success-message-text {
  color: green;
  font-size: 16pt;
  font-weight: 400;
}

#welcome-content {
  text-align: center;
}

#welcome-content h1 {
  text-transform: lowercase;
  letter-spacing: 5px;
  color: #555656;
  padding-left: 15px;
}

#welcome-controls {
  margin-top: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

ul li {
  font-size: 16pt;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
